*{
    padding: 0;
    margin: 0;
    
}

form{

    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

input{
    margin: 5px;
}
.listado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    margin: 5px;
    padding: 0 5px;
    border-radius: 5px;
    
}

.header{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}